---
layout: null
landingPage : true
---

{% include header.html %}

<!-- Section Features -->
<section class="container features">
<div class="feature-content">
  <h1>Sensorberg – Open Source Beacon Management</h1>
  <h3>The new open standard for location-based services</h3>

  <div class="col-md-4 feature-block">
    <img src="/images/ico_ios_sdk.png" alt="iOS SDK" />
    <div class="single-block">
      <a href="/ios/" class="btn btn-default">Download iOS SDK</a>
      <p>Find our latest documentation<br /> on our iOS SDK</p>
    </div>
  </div>

  <div class="col-md-4 feature-block" >
    <img src="/images/ico_android_sdk.png" alt="iOS SDK" />
    <div class="single-block">
      <a href="/android/" class="btn btn-default">Download Android SDK</a>
      <p>Find our latest documentation on our Android SDK</p>
    </div>
  </div>

  <div class="col-md-4 feature-block">
    <img src="/images/ico_server_resolver.png" alt="iOS SDK" />
    <div class="single-block">
      <a href="/resolver/" class="btn btn-default">Download Resolver</a>
      <p>Find our latest documentation on our resolver</p>
    </div>
  </div>
</div>
</section>
<section class="content_teaser">
  <div class="container row">
    <div class="col-md-6">
      <h4><i class="fa fa-github-square"></i>Truly open licence</h4>
      <p>All our open source projects are MIT licensed, giving you the most freedom for your projects.</p>
    </div>
    <div class="col-md-6">
      <h4><i class="fa fa-university"></i>Proven solution</h4>
      <p>Our SDK has been improved constantly over the last year and is deployed on thousands of devices.</p>
    </div>
  </div>
  <div class="container row second_row">
    <div class="col-md-6">
      <h4><i class="fa fa-rocket"></i>Easy deployment</h4>
      <p>Deploy the resolver service on any machine with a Java Runtime. No Apache, JBoss or other application server needed.</p>
    </div>
    <div class="col-md-6">
      <h4><i class="fa fa-magic"></i>Flexible integration</h4>
      <p>Integrate the Android SDK and maintain full control over the UI of your proximity interaction.</p>
    </div>
  </div>
  <div class="container row second_row">
    <div class="col-md-6">
      <h4><i class="fa fa-phone-square"></i>Superior support</h4>
      <p>Contact us with any questions you have, we have real people answering you sales/technical questions.</p>
    </div>
  </div>
</section>
<!--</section>-->
<section class="sb_teaser">
<div class="container row">
  <h2>Develop your own Beacon-based solutions within minutes</h2>
  <div class="info-graphic">
    <img src="/images/data_transfer.png" alt="Data Transfer with Resolver" width="640" />
  <h3>Need more information about iBeacon technology?<br /></h3>
    <a href="https://www.sensorberg.com/product/" target="_blank" class="btn btn-default">Learn more</a>
  </div>  
</div>
</section>

<section class="content_teaser">
<div class="container row link-list">
  <div class="col-md-6">
    <h2>News</h2>
    <ul>
      {% for post in paginator.posts %}
      <li>
        <p>
          <a href="{{ site.baseurl}}{{ post.url }}"> {{ post.title }}</a><br />
        {{ post.date | date: "%b %-d, %Y" }}
        </p>
      </li>
      {% endfor %}
    </ul>
    {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older blog posts</a>
    {% endif %}

  </div>

  <div class="col-md-6 link-list">
    <h2>More information</h2>
    <ul>
      <li>
        <div>
          <div class="float-left">
              <img src="/images/ico_sb.png" alt="Sensorberg" width="40"/>
          </div>
          <div>
            <div style="display; table-cell;">
              <p>Sensorberg Beacon Management Platform<br />
                <a href="https://www.sensorberg.com/" target="_blank">www.sensorberg.com</a>
              </p>
            </div>
          <div>
        </div>  
      </li>
      <li>  
        <div>
          <div class="float-left">
              <img src="/images/ico_shopping_cart.png" alt="Buy Beacons" width="40" style="margin-top: 20px;" />
          </div>
          <div>
            <div style="display: table-cell;">
              <p>Buy beacons - Individual offers for developers, companies and enterprise customers<br />
                <a href="https://www.sensorberg.com/shop/" target="_blank">Sensorberg Shop</a>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li> 
        <div>
          <div class="float-left">
              <img src="/images/ico_guy.png" alt="Join our team" width="40" style="margin-top: 11px;" />
          </div>
          <div>
            <div style="display: table-cell;">
              <p>Become a part of a great team<br />
                <a href="https://www.sensorberg.com/jobs" target="_blank">Sensorberg Jobs</a>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>

<!-- Section MailChimp Signup Form -->
<div id="newsletter">
  <h2> Get the latest news on Sensorberg tech</h2>
<form action="//sensorberg.us3.list-manage.com/subscribe/post?u=b2822d51ef641379587377d81&amp;id=6af0c4417e" method="post" id="mc-form-onsite" name="mc-embedded-subscribe-form" class="mc-form" target="_blank" novalidate>
  <div class="mc-field-group">
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@example.com"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_b2822d51ef641379587377d81_32f6864b54" tabindex="-1" value=""></div>
</form>
</div>
<!--End mc_embed_signup-->
{% include footer.html %}