---
layout: null
---

{% include header.html %}

<!-- Section Features -->
<section class="container features">
<div class="grid" style="max-width: 978px; margin: 80px auto;">
  <h1>A real fancy headline</h1>

  <div class="unit one-third" style="padding: 40px 15px; float: left; text-align: center;">
    <img src="/images/ico_ios_sdk.png" alt="iOS SDK" class="" style="max-width:100%; position:relative;">
    <h2>iOS SDK</h2>
    <p>Hier steht irgendein Text, der noch geschrieben werden muss.</p>
  </div>

  <div class="unit one-third" style="padding: 40px 15px; text-align: center;">
    <img src="/images/ico_android_sdk.png" alt="iOS SDK" class="" style="max-width:100%; position:relative;">
    <h2>Android SDK</h2>
    <p>Hier steht irgendein Text, der noch geschrieben werden muss.</p>
  </div>

  <div class="unit one-third" style="padding: 40px 15px; text-align: center;">
    <img src="/images/ico_server_resolver.png" alt="iOS SDK" class="" style="max-width:100%; position:relative;">
    <h2>Resolver</h2>
    <p>Hier steht irgendein Text, der noch geschrieben werden muss.</p>
  </div>

</div>
</section>

<section class="content_teaser">
<div class="container row">
  <div class="col-md-6">
    <h2>News</h2>
    <ul>
      <li>
        <a href="#">Android SDK Dependency Releases</a>
        <p>Mar 12, 2015</p>        
      </li>
      <li>
          <a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et ...</a>
          <p>Mar 06, 2015</p>
      </li>
      <li>
          <a href="#">Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</a>
          <p>Mar 05, 2015</p>
      </li>
      <li>
          <a href="#">Sed diam voluptua. At vero eos et accusam et</a>
          <p>Febr 27, 2015</p>
      </li>
      <li>
          <a href="#">sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua....</a>
        <p>Jan 31, 2015</p>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Links</h2>
    <ul>
      <li>
        <p>Sensorberg Beacon Management Platform</p>
        <a href="#">www.sensorberg.com</a>        
      </li>
      <li>
        <p>Buy beacons - Individual offers for developers, companies and enterprise customers</p>
        <a href="#">Sensorberg Shop</a>
      </li>
      <li>
        <p>Become a part pf a great team</p>
        <a href="#">Sensorberg Jobs</a>
      </li>
    </ul>
  </div>
</div>
</section>

<!-- Section MailChimp Signup Form -->
<div style="background-color: #2e2e2e; padding: 30px 0 60px 0; text-align: center; color: white;">
  <h2> Get the latest news on Sensorberg tech</h2>
<form action="//sensorberg.us3.list-manage.com/subscribe/post?u=b2822d51ef641379587377d81&amp;id=32f6864b54" method="post" id="mc-form-onsite" name="mc-embedded-subscribe-form" class="mc-form" target="_blank" novalidate>
  
  <div class="mc-field-group" style="margin: 30px 0;">

    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@example.com"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">



  </div>
  
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_b2822d51ef641379587377d81_32f6864b54" tabindex="-1" value=""></div>
</form>
</div>

<!--End mc_embed_signup-->



{% include footer.html %}