---
layout: null
landingPage : true
---

{% include header.html %}

<!-- Section Features -->
<section class="container features">
<div class="feature-content">
  <h1>Sensorberg – Open Source Beacon Management</h1>
  <h3>The new open standard for proximity software</h3>

  <div class="col-md-3 feature-block" >
    <img src="/images/ico_android_sdk.png" alt="iOS SDK" />
    <div class="single-block">
      <a href="/android/" class="btn btn-default">Implement Android SDK</a>
      <p>Find out more about our latest Android SDK documentation</p>
    </div>
  </div>

  <div class="col-md-3 feature-block">
    <img src="/images/ico_ios_sdk.png" alt="iOS SDK" />
    <div class="single-block">
      <a href="/ios/" class="btn btn-default">Implement iOS SDK</a>
      <p>Find out more about our latest iOS SDK documentation</p>
    </div>
  </div>

  <div class="col-md-3 feature-block windows">
    <a href="https://www.sensorberg.com/sensorberg-windows-10" target="_blank">
      <img src="/images/ico_windows10.png" alt="Windows 10 SDK" />
    </a>
    <div class="single-block">
      <p class="coming-soon">Coming soon!</p>
      <p>Find out more about our latest Windows SDK documentation</p>
    </div>
  </div>  

  <div class="col-md-3 feature-block">
    <img src="/images/ico_server_resolver.png" alt="iOS SDK" />
    <div class="single-block">
      <a href="/resolver/" class="btn btn-default">Implement Resolver</a>
      <p>Find out more about our latest Resolver documentation</p>
    </div>
  </div>
</div>
</section>

<!-- Section SDK -->
<section class="sb_teaser background">
  <div class="container row">
    <div class="">
      <h2>Sensorberg open source SDKs</h2>
      <h3>Create your own beacon-compatible solution within minutes</h3>
    </div>
    <div class="col-md-4 bullets-left">
      <p><img src="/images/bullet_left.png" alt="bulletpoint indicator left" class="img-responsive center-block float-right" width="61" />Easy and flexible integration</p>
      <p><img src="/images/bullet_left.png" alt="bulletpoint indicator left" class="img-responsive center-block float-right" width="61" />Deployed on thousands of devices</p>
      <p><img src="/images/bullet_left.png" alt="bulletpoint indicator left" class="img-responsive center-block float-right" width="61" />MIT licensed</p>
    </div>
    <div class="col-md-4">
      <img src="/images/sdk_graphic.svg" alt="Sensorberg SDK" class="img-responsive center-block" width="500" />   
    </div>
    <div class="col-md-4 bullets-right">
      <p><img src="/images/bullet_right.png" alt="bulletpoint indicator right" class="img-responsive center-block float-left" width="61" />Available for Android, iOS, Windows 10</p>
      <p><img src="/images/bullet_right.png" alt="bulletpoint indicator right" class="img-responsive center-block float-left" width="61" />Open source</p>
      <p><img src="/images/bullet_right.png" alt="bulletpoint indicator right" class="img-responsive center-block float-left" width="61" />Constantly improved</p>
    </div>
  </div>
  
  <div class="container-text row">
    <div class="">
      <p>Proximity services are currently beginning to reshape the existing models of customer relationship in a wide range of sectors. We believe this phenomenon has nothing to do with hype, and that the mainstay of what will soon be recognized as a revolution is the iBeacon technology.</p>
      <p>Thus, as a Beacon service provider, our main goal is to provide you with a flexible cross-platform solution, which can be easily and quickly implemented but also extensively customized.</p>
    </div>
    <a href="#opensourcesdk" class="btn btn-default btn-text">Learn more</a>
  </div>
</section>

<!-- Section Open source SDKs -->
<section class="grey_teaser background">
  <a id="opensourcesdk"></a>
  <div class="container row">
    <h2>Open source SDKs</h2>
    <div class="container-table">
      <table class="layout display responsive-table sdk-table">
        <thead>
          <tr>
            <th> </th>
            <th>Android SDK</th>
            <th>iOS SDK</th>
            <th>Windows SDK</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">Advanced scanning <span class="super-text">1</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
            <td class=""><span class="table-green">already installed</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
          </tr>
          <tr>
            <td class="">Battery-efficient background scanning <span class="super-text">2</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
            <td class=""><span class="table-green">already installed</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
          </tr>
          <tr>
            <td class="">Offline caching <span class="super-text">3</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
            <td class=""> – </td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
          </tr>
          <tr>
            <td class="">Offline reporting <span class="super-text">4</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
            <td class=""> – </td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
          </tr>
          <tr>
            <td class="">Customization <span class="super-text">5</span></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
            <td class=""><img src="/images/check.png" alt="check" width="25" /></td>
          </tr>
          <tr>
            <td class=""> </td>
            <td class=""><a href="http://sensorberg-dev.github.io/android/" class="btn btn-table">Implement Android SDK</a></td>
            <td class=""><a href="http://sensorberg-dev.github.io/ios/" class="btn btn-table">Implement iOS SDK</a></td>
            <td class=""><div class="btn btn-table-grey">Coming soon</div></td>
          </tr>        
        </tbody>
      </table>
    </div>

    <div class="container-mobile">
      <table class="layout display responsive-table sdk-table-small" style="border-bottom: 1px solid black;">
        <thead>
          <tr>
            <th>Advanced scanning <span class="super-text">1</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Android SDK<img src="/images/check.png" alt="check" width="25" style="padding-left: 5px;" /></td>
          </tr>
          <tr>
            <td>iOS SDK <span class="table-green">( already installed )</span></td>
          </tr>
          <tr>
            <td>Windows SDK <img src="/images/check.png" alt="check" width="25" style="padding-left: 5px;" /></td>
          </tr>
        </tbody>
      </table>

      <table class="layout display responsive-table sdk-table-small" style="border-bottom: 1px solid black;">
        <thead>
          <tr>
            <th>Battery-efficient background scanning <span class="super-text">2</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Android SDK<img src="/images/check.png" alt="check" width="25" style="padding-left: 5px;" /></td>
          </tr>
          <tr>
            <td>iOS SDK <span class="table-green">( already installed )</span></td>
          </tr>
          <tr>
            <td>Windows SDK <img src="/images/check.png" alt="check" width="25" style="padding-left: 5px;" /></td>
          </tr>
        </tbody>
      </table>

      <table class="layout display responsive-table sdk-table-small" style="border-bottom: 1px solid black;">
        <thead>
          <tr>
            <th>Offline caching <span class="super-text">3</span>, Offline reporting <span class="super-text">4</span>, Customization <span class="super-text">5</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Android SDK <img src="/images/check.png" alt="check" width="25" style="padding-left: 5px;" /></td>
          </tr>
          <tr>
            <td>iOS SDK <span class="table-green">(only Customization)</span></td>
          </tr>
          <tr>
            <td>Windows SDK <img src="/images/check.png" alt="check" width="25" style="padding-left: 5px;" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container row justify-text">
    <div class="col-md-4">
      <p><span class="font-600">1. Advanced scanning:</span> The scanner of the SDK enables any app to detect iBeacon compliant Beacons on BLE-capable Android devices.</p>
      <p><span class="font-600">2. Battery-efficient background scanning:</span> Scanner is designed to have the least possible impact on the battery: it scans less frequently when app is in the background and increases frequency when app is in foreground.</p>
    </div>
    <div class="col-md-4">
      <p><span class="font-600">3. Offline caching:</span> Our SDK includes an offline caching functionality. It means that internet connectivity is not required in the area where your Beacons are installed. The app remembers predefined actions when seeing a Beacon and updates its layout every time it has internet connectivity.</p>
    </div>
    <div class="col-md-4">
      <p><span class="font-600">4. Offline reporting:</span> Our SDK saves which Beacons it saw since the last report and will remember them until internet connectivity is restored to report them.</p>
      <p><span class="font-600">5. Customization:</span> We provide an SDK with maximum room for individualization. Easily embed your own notifications!</p>
    </div>
  </div>

  <div class="container-text row">
    <a href="https://github.com/{{ site.github }}" target="_blank" class="btn btn-default btn-text">Check out our GitHub</a>
  </div>
</section>

<!-- Section Resolver -->
<section class="sb_teaser background">
  <div class="container row">
    <h2>Resolver</h2> 
  </div>
  <div class="info-graphic">
    <img src="/images/sensorberg_resolver_use_case.png" alt="Sensorberg Resolver Use Case" class="img-responsive center-block" width="" />
  </div>
  <div class="container row">
    <div class="">
      <p><span class="font-600">Function:</span><br /> As part of the Sensorberg Cloud Services, the Resolver delivers campaigns to the end customer's devices</p>
      <p><span class="font-600">Customization:</span><br /> The Resolver is open and you can adapt it to your server and cloud infrastructure</p>
      <p><span class="font-600">Data protection:</span><br /> Customer data are not disclosed and remain in your possession</p>
  </div>
  <div class="container row">
    <a href="/resolver/" class="btn btn-default">Implement Resolver</a>
  </div>
</section>

<section class="content_teaser background">
  <div class="container row">
    <div class="col-md-6">
      <h3><i class="fa fa-github-square"></i>Truly open licence</h3>
      <p>All our open source projects are MIT licensed, giving you the most freedom for your projects.</p>
    </div>
    <div class="col-md-6">
      <h3><i class="fa fa-university"></i>Proven solution</h3>
      <p>Our SDK has been improved constantly over the last year and is deployed on thousands of devices.</p>
    </div>
  </div>
  <div class="container row second_row">
    <div class="col-md-6">
      <h3><i class="fa fa-rocket"></i>Easy deployment</h3>
      <p>Deploy the Resolver service on any machine with a Java Runtime. No Apache, JBoss or other application server needed.</p>
    </div>
    <div class="col-md-6">
      <h3><i class="fa fa-magic"></i>Flexible integration</h3>
      <p>Integrate the Android SDK and maintain full control over the UI of your proximity interaction.</p>
    </div>
  </div>
  <div class="container row second_row">
    <div class="col-md-6">
      <h3><i class="fa fa-phone-square"></i>Superior support</h3>
      <p>Contact us with any questions you have, we have real people answering you sales/technical questions.</p>
    </div>
  </div>
</section>

<section class="white_teaser background">
<div class="container row link-list">
  <div class="col-md-6">
    <h2>News</h2>
    <ul>
      {% for post in paginator.posts %}
      <li>
        <p>
          <a href="{{ site.baseurl}}{{ post.url }}"> {{ post.title }}</a><br />
        {{ post.date | date: "%b %-d, %Y" }}
        </p>
      </li>
      {% endfor %}
    </ul>
    {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older blog posts</a>
    {% endif %}

  </div>

  <div class="col-md-6 link-list">
    <h2>More information</h2>
    <ul>
      <li>
        <div>
          <div class="float-left">
              <img src="/images/ico_sb.png" alt="Sensorberg" width="40"/>
          </div>
          <div>
            <div style="display; table-cell;">
              <p>Sensorberg Beacon Management Platform<br />
                <a href="https://www.sensorberg.com/" target="_blank">www.sensorberg.com</a>
              </p>
            </div>
          <div>
        </div>  
      </li>
<!--      <li>  
        <div>
          <div class="float-left">
              <img src="/images/ico_shopping_cart.png" alt="Buy Beacons" width="40" style="margin-top: 20px;" />
          </div>
          <div>
            <div style="display: table-cell;">
              <p>Buy beacons - Individual offers for developers, companies and enterprise customers<br />
                <a href="https://www.sensorberg.com/shop/" target="_blank">Sensorberg Shop</a>
              </p>
            </div>
          </div>
        </div>
      </li>
-->
      <li> 
        <div>
          <div class="float-left">
              <img src="/images/ico_guy.png" alt="Join our team" width="40" style="margin-top: 11px;" />
          </div>
          <div>
            <div style="display: table-cell;">
              <p>Become part of a great team<br />
                <a href="https://www.sensorberg.com/jobs" target="_blank">Sensorberg Jobs</a>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>

<!-- Section MailChimp Signup Form -->
<div id="newsletter">
  <h2> Get the latest news on Sensorberg tech</h2>
<form action="//sensorberg.us3.list-manage.com/subscribe/post?u=b2822d51ef641379587377d81&amp;id=6af0c4417e" method="post" id="mc-form-onsite" name="mc-embedded-subscribe-form" class="mc-form" target="_blank" novalidate>
  <div class="mc-field-group">
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@example.com"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_b2822d51ef641379587377d81_32f6864b54" tabindex="-1" value=""></div>
</form>
</div>
<!--End mc_embed_signup-->
{% include footer.html %}
