<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
</head>

<body>

<div class="header navbar-fixed-top">
    <div class="container">
        <div class="">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="../images/sb_logo_retina_light.png" class="sb_logo" style="margin-top: -5px;">
            </a>
        </div>
        <nav class="container-fluid">
            <div class="row-fluid">
                <div class="navbar" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                            <li class="active"><a href="{{ site.baseurl }}/newsletter/">Newsletter</a></li>
                            {% if site.github != '' %}
                            <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Navigation
    <nav class="navbar-fixed-top" style="height: 82px; background-color: #49697d;">
        <div class="container">
            <div class="navbar-header page-scroll">
               <a href="http:www.developer.sensorberg.com">
                  <img src="../images/sb_logo_retina_light.png" class="sb_logo" style="margin-top: 9px;">
               </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="padding-top: 16px; font-size: 16px;">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#newsletter">Newsletter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
-->