<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link rel="icon" href="/images/favicon4.png" type="image/png">

    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>
   <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/sb_logo_retina_light.png" class="sb_logo img-responsive center-block" style="margin-top: -5px;" alt="background image"/>
                </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="https://sensorberg.zendesk.com/hc/en-us/requests/new">Contact</a></li>
                    <li class="active"><a href="/#newsletter">Newsletter</a></li>
                    {% if page.landingPage != true %}
                    <li class="active"><a href="/android/">Android</a></li>
                    <li class="active"><a href="/ios/">iOS</a></li>
                    <li class="active"><a href="/resolver/">Resolver</a></li>
                    {% endif %}
                    {% if site.github != '' %}
                    <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                    <li class="active"><a href="https://sensorberg.com/">Company</a></li>
                </ul>
              </div>
        </div>
    </div>