<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
    @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
    if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
            dropboxID:   "20311021",
            url:         "https://sensorberg.zendesk.com",
            tabTooltip:  "Feedback",
            tabImageURL: "https://p3.zdassets.com/external/zenbox/images/tab_feedback_right.png",
            tabColor:    "#49697D",
            tabPosition: "Right"
        });
    }
</script>