{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% if page.additionalNavigation.size > 0 %}
            <div class="sidebar well">
            <h5>Additional Links</h5>
                <ul>
                    {% for navItem in page.additionalNavigation %}
                    <li><a href="{{ navItem.link }}">{{ navItem.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
